*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    padding: 0px 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.banner {
    display: flex;
    max-width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
}

.banner .carousel{
    margin: auto;
    max-width: 40%;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 40px;
    color:  #F50057;
    box-sizing: border-box;
}

.banner .carousel img{
    max-width: 100%;
    position: relative;
    animation: leftAnimation 1.5s ease-in-out;
}

.banner .texts{
    font-size: 25px;
    margin: auto;
    max-width: 100%;
    padding: 0px 20%;
    text-align: center;
    border-bottom: 1.5px solid #bbb;
}

.banner .texts p, .links{
    padding: 20px;
    color: #4b4b4b;
}

.links{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 15px 50px;
    box-sizing: border-box;
}

.links a{
    font-size: 20px;
    text-decoration: none;
    color: steelblue;
}

@media screen and (max-width: 850px){
    .banner .carousel{
        max-width: 100%;
        padding: 15px 5px;
        box-sizing: border-box;
    }
    
    .banner .carousel h1{
        font-size: 32px;
    }

    .banner .texts{
        border-bottom: none;
        padding: 30px 0px;
        font-size: 25px;
    }
    
    .banner p{
        margin-bottom: 60px;
    }

    .links{
        max-width: 100%;
        flex-direction: column;
        padding: 10px 0;
        font-size: 30px;
    }

    .links a{
        margin: 0px 10px;
        border-bottom: 1.4px solid #ccc;
        padding: 15px;
    }
    
    .links a:hover{
        color:  #F50057;
        border-bottom: 1.5px solid #F50057;
    }
}

@keyframes leftAnimation{
    from{
        left: -1000px;
    }
    to{
        left: 0;
        display: block;
    }
}

@keyframes rightAnimation{
    from{
        left: 1000px;
    }
    to{
        left: 0;
        display: block;
    }
}