.projects-left{
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    box-shadow: 1px 2px 8px #ccc;
}

.projects-right{
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: white;
    box-shadow: 1px 2px 8px #ccc;
}

.project-video{
    width: 50%;
    padding: 10px 10px;
}

.project-video video{
    outline: none;
    height: 100%;
    background: white;
}

.project-desc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    width: 50%;
    position: relative;
    padding: 5px;
}

.project-desc h2{
    text-align: center;
    font-weight: 100;
    font-size: 26px;
    color: steelblue;
    margin-bottom: 10px;
}

.project-info{
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    padding: 10px;
}

.project-open{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    padding: 5px;
    background: steelblue;
    color: white;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .project-video{
        width: 100%;
        padding: 0;
    }
    .project-desc{
        width: 100%;
        padding:15px;
    }

    .project-info{
        font-size: 15px;
        line-height: 25px;
        padding: 5px;
    }
}