#tab-buttons{
    background: #eee;
    border: 1px solid #bbb;
    margin: 40px 0px 0px 0px;
}

#tab-buttons button{
    background: #eee;
    color: steelblue;
    border: none;
    border-right:  1px solid #bbb;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 0%;
    cursor: pointer;
}

#tab-buttons button:focus{
    outline: none;
    background:  #fff;
    color: steelblue;
}

.works{
    background:  #fff;
    border: 1px solid #bbb;
    border-top: none;
    margin-bottom: 40px;
}

.content{
    width: 100%;
    padding: 10px 30px;
    margin: auto;
}

.content h5{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    color: steelblue;
    border-bottom: 2px solid steelblue;
    display: inline-block;
    padding: 2px 0px;
    margin-bottom: 10px;
}

#modal{
    background: rgba(39, 39, 39, 0.424);
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
}

#modal-content{
    max-width: 60%;
    margin: 55px auto;
    background: #1a1a1a;
}

#modal-content .button{
    max-width: 100%;
}

#modal-content .button button:focus{
    outline: none;
}

#modal-content .button button{
    background: #efefef;
    color: #8a8a8a;
    font-size: 16px;
    width: 9%;
    margin: 4px auto;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    cursor: pointer;
    padding: 4px;
    margin-left: 90%;
}

#modal-content header{
    max-width: 100%;
    max-height: 100px;
    display: flex;
}

#modal-content header h2{
    max-height: 100px;
    width: 95%;
    font-size: 24px;
    padding: 5px 10px;
    color: white;
}

#modal-content header span{
    max-height: 100px;
    cursor: pointer;
    width: 5%;
    background: steelblue;
    color:white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


@media screen and (max-width: 850px){
    .content{
        padding: 10px 10px;
    }   
    #modal-content{
        max-width: 100%;
        margin: 50px 20px !important;
    }

    #modal-content header h2{
        width: 90%;
    }
    
    #modal-content header span{
        width: 15%;
    }
}

@media screen and (max-width: 650px){
    
    #modal-content .button button{
        width: 20%;
        margin-left: 78%;
    }

    #modal-content header h2{
        font-size: 20px;
    }
}
